footer.footer
  .footer__logo
    
  ul.footer__nav
    li: a(href='https://github.com/utkr07/EasyNomad' target='_blank') GitHub
    li: a(href='https://www.linkedin.com/in/utkarsh-raj-611013228/' target='_blank') LinkedIn
  p.footer__copyright &copy; by Utkarsh Raj All rights reserved.